<h1 style="text-align: center">Clinics</h1>
<% @clinics.each do |clinic| %>
  <div class="clinics">
    <div class="d-block">
      <h2><%= clinic.name %></h2>
      <%= image_tag clinic.image, :class=>"image" %>
      <p>Specialisation: <%= clinic.specialisation %></p>
      <p>Location: <%= clinic.location %></p>
    </div>
  </div>
<% end %>
