<h1>Hi <%= @patient.email %></h1>
<p>You have recently created an appointment.</p>
<p>You can view and update any information here: <a href="https://whispering-scrubland-72575.herokuapp.com/patients/<%= @patient.id %>">here</a></p>
<p>You will be notified again when you have been assigned a doctor.</p>