<h1>Hi <%= @doctor.email %></h1>
<p>A new patient has been added to your schedule</p>
<p>View your patients: <a href="https://whispering-scrubland-72575.herokuapp.com/doctors/<%= @doctor.id %>/patients">here</a></p>