<h1>Hi <%= @patient.email %></h1>
<p>A doctor has been assigned to you regarding your appointment</p>
<p>You can view all details here: <a href="https://whispering-scrubland-72575.herokuapp.com/patients/<%= @patient.id %>">here</a></p>